@import "./heading.css";
html {
  --blurBlue: #0f044c85;
}
.bodyPart {
  height: 600px;
  background-image: url("https://c0.wallpaperflare.com/preview/824/930/463/children-girl-man-homeless.jpg");
  background-position: center;
  background-size: cover;
}
.bodyPart__heading {
  padding-top: 200px;
  padding-left: 100px;
  color: var(--white);
  font-size: 39px;
  max-width: 800px;

  animation-name: text;
  animation-duration: 1s;
  animation-delay: 0s;
}
@keyframes text {
  0% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
